.mother {
  display: flex;
  flex-direction: column;
}

.header-parent>* {
  display: inline-block;
  padding: 40px 20px 0px 0px;
  font-size: 30px;
}

.main{
  height: 100vh;
  padding-left: 7%;
}

#light{
  background-color: #F9F9F9;
}

#dark{
  background-color: #171010;
  color: #ffffff;
}

.smiley{
  font-size: 30px;
}