.mother {
  display: flex;
  flex-direction: column;
}

.header-parent>* {
  display: inline-block;
  padding: 40px 20px 0px 0px;
  font-size: 30px;
}

.main {
  height: 100vh;
  padding-left: 7%;
}

#light {
  background-color: #F9F9F9;
}

#dark {
  background-color: #171010;
}

.smiley {
  font-size: 30px;
}

.signup-card {
  /* display: flex; */
  width: 40%;
  margin: 5% auto;
  /* box-shadow: #1966b3 0px 50px 100px -20px, #ffffffb9 0px 30px 60px -30px; */
  box-shadow: #0000008f 0px 22px 70px 4px;
}

#dark :is(h1, .smiley, div) {
  color: #ffffff;
}

#dark .signup-card {
  box-shadow: #e9ecef59 0px 22px 70px 4px;
}